body {
    margin: 0;
    padding: 0;
}

#grid-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 0.06fr 1fr;
    grid-template-rows: 1.3fr 1.2fr 2.4fr .6fr 10fr 1.5fr .8fr;
    grid-template-areas: 
        "main-nav main-nav"
        "side-bar options"
        "side-bar search-area"
        "side-bar sale-info"
        "side-bar sale-items"
        "side-bar subtotal"
        "side-bar total";
}

#main-nav {
    grid-area: main-nav;
    background-color: rgb(10, 89, 158);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

 .side-bar-button{
  display: flex;
  width: 100%;              /* makes icon + text align in a flex container */
  flex-direction: column;     /* stacks icon on top of text */
  align-items: center;        /* centers icon and text horizontally */
  border: none;
  cursor: pointer;
  height: 64px;
  transition: background 0.2s;
}
.side-bar-button:hover {
    background-color: aqua;
}

.main-nav-button, .options-button {
  display: flex;
  flex-direction: column;     /* stacks icon on top of text */
  align-items: center;        /* centers icon and text horizontally */
  justify-content: center;    /* optional: center vertically if button is taller */
  cursor: pointer;
  height: 100%;
  border: none;
  width: 100px;
}

.main-nav-button:hover, .options-button:hover {
    background-color: aqua;

}

#options {
    grid-area: options;
    background-color: rgb(230, 230, 230);
    display: flex;
    align-items: center;
}

#search-area {
    grid-area: search-area;
    background-color: white;
    display: flex;
}

#product-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 150px;
}

#product-image {
    background-color: white;
    height: 85%;
    width: 70%;
    border: 1px solid black;   /* Inner border */
    position: relative;
    box-shadow: 0 0 0 7px white, /* gap color (white) */
                0 0 0 8px black; /* outer border */
    }

#search-container {
    flex-grow: 1;
    background-color: aqua;
    display: flex;
    flex-direction: column;
}

#search-bar-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#client-container {
    display: grid;
    grid-template-columns: repeat(9,1fr); ;
    grid-template-rows: 1fr 1fr;
}

#side-bar {
    grid-area: side-bar;
    background-color: rgb(230, 230, 230);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sale-info {
    grid-area: sale-info;
    background-color: rgb(128, 124, 124);
    display: flex;
    gap: 40px;
    align-items: center;
}

#sale-info,
#sale-items {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr; /* 6 columns */
    gap: 5px; /* optional spacing */
    padding: 5px;
}

#sale-items {
    grid-area: sale-items;
    background-color: white;
    border: white solid 1px;
}
#subtotal {
    grid-area: subtotal;
    background-color: white;
    border: gray solid 1px;
}
#total {
    grid-area: total;
    background-color:rgb(128, 124, 124);
}

