body {
    margin: 0;
    padding: 0;
}

#grid-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 0.06fr 1fr;
    grid-template-rows: 1.3fr 1.2fr 2.4fr .6fr 10fr 1.5fr .8fr;
    grid-template-areas: 
        "main-nav main-nav"
        "side-bar options"
        "side-bar search-area"
        "side-bar sale-info"
        "side-bar sale-items"
        "side-bar subtotal"
        "side-bar total";
}

#main-nav {
    grid-area: main-nav;
    background-color: rgb(10, 89, 158);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

 .side-bar-button{
  display: flex;
  width: 100%;              /* makes icon + text align in a flex container */
  flex-direction: column;     /* stacks icon on top of text */
  align-items: center;        /* centers icon and text horizontally */
  border: none;
  cursor: pointer;
  height: 64px;
  transition: background 0.2s;
}
.side-bar-button:hover {
    background-color: aqua;
}

.main-nav-button, .options-button {
  display: flex;
  flex-direction: column;     /* stacks icon on top of text */
  align-items: center;        /* centers icon and text horizontally */
  justify-content: center;    /* optional: center vertically if button is taller */
  cursor: pointer;
  height: 100%;
  border: none;
  width: 100px;
}

.main-nav-button:hover, .options-button:hover {
    background-color: aqua;
}

#options {
    grid-area: options;
    background-color: rgb(230, 230, 230);
    display: flex;
    align-items: center;
}

#search-area {
    grid-area: search-area;
    background-color: white;
    display: flex;
}

#product-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 150px;
}

#product-image {
    background-color: white;
    height: 85%;
    width: 70%;
    border: 1px solid black;   /* Inner border */
    position: relative;
    box-shadow: 0 0 0 7px white, /* gap color (white) */
                0 0 0 8px black; /* outer border */
    }

#search-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#search-bar-container {
    display: flex;
    height: 40%;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    border-bottom: 1px solid gray;
}

#client-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
#doc-container {
    display: flex;
    background-color: red;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    gap: 20px;
}

#clerk-container {
    background-color: aquamarine;
    gap: 20px;
    display: flex;
    width: 100%;
    flex-grow: 1;
    align-items: center;
}


.date.icon {
    margin-left: 62%;
}


#side-bar {
    grid-area: side-bar;
    background-color: rgb(230, 230, 230);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sale-details-container {
    grid-area: sale-info;
    background-color: rgb(128, 124, 124);
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr; /* 6 columns */
    gap: 5px; /* optional spacing */
}
.sale-details {
    border-right: white 1px solid;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center; /* center text vertically inside the div */
}

#sale-items-container {
    grid-area: sale-items;
    background-color: white;
    border: white solid 1px;
    display: flex;
    flex-direction: column;
}
.right-item {
    width: 100%;
    height: 2.5rem;
    margin-left: auto;
    border-bottom: solid gray 1px;
    border-right: solid gray 1px;
}
.left-item {
    width: 100%;
    height: 2.5rem;
    border-bottom: solid gray 1px;
    border-right: solid gray 1px;
    margin-right: auto;
}
.item-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr; /* 6 columns */
    gap: 5px; /* optional spacing */
}
#subtotal-container {
    grid-area: subtotal;
    background-color: white;
    border: gray solid 1px;
    display: flex;
}

#subtotal-container div {
    border: solid 0.1px gray;
}

#comment {
    flex: 0 0 0.5;
}

#item-quantity {
    flex: 1;
    display: grid;
    grid-template-columns: 40px 80px 40px 80px; 
    grid-template-rows: 1fr 1fr;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

/* #item-quantity > :nth-child(3),  
#item-quantity > :nth-child(4) { 
    margin-left: 60px;
} */

#discounts {
    flex: 1;
    display: grid;
    grid-template-columns: 90px 30px 90px 30px; 
    grid-template-rows: 1fr 1fr;
    gap: 8px;
    align-items: center;
    justify-content: center;
}
#total {
    grid-area: total;
    background-color:rgb(128, 124, 124);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    font-size: 2rem;
    overflow: hidden;
}

#total p {
    padding-right: 18px;
}

#close-sale {
    height: 60vh;
    width: 35vw;
    position: relative;
    border: none;
    overflow: hidden;
}

#close-sale .close-button {
    position: absolute;
    left: calc(100% - 55px);
    top: 5px;
    width: 50px;
    height: 50px;
    background-color: red;
}

#close-sale form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    height: 100%;
}

#total-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(81, 88, 88);
    flex-grow: 1;
    width: 100%;
};

#payment-method {
    background-color: rgb(105, 105, 1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
}
#reference {
    flex-grow: 0.5;
    width: 100%;
}

#change-container {
    display: flex;
    flex-grow: 1;
    width: 100%;
    background-color: yellow;
}
